# —— Build artefacts ———————————————————————————————————————
/dist/
/out-tsc/
/tmp/
/.*/tsbuildinfo
/.angular/cache/
/coverage/

# —— Node modules & logs ———————————————————————————————————
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# —— Environment files ————————————————————————————————————
# Si usaras archivos .local.ts para entornos locales
/src/environments/*.local.ts
# Variables de entorno
.env

# —— IDEs & editors ——————————————————————————————————————
# JetBrains
/.idea/
/*.iml

# VSCode
/.vscode/
/*.code-workspace

# Sublime
*.sublime-workspace
*.sublime-project

# Eclipse, NetBeans…
.project
.classpath
.settings/

# —— Miscellaneous —————————————————————————————————————
/connect.lock
/libpeerconnection.log
/testem.log
/typings

# —— System files ——————————————————————————————————————
.DS_Store
Thumbs.db
