<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
  <p>Cargando preguntas...</p>
</div>

<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
  <button mat-raised-button color="primary" (click)="retry()">Reintentar</button>
</div>

<ng-container *ngIf="!loading && !errorMessage && question">
  <div class="game-header">
    <div class="question-info">
      Pregunta {{ settings.questions.indexOf(question) + 1 }} de {{ settings.questions.length }}
      <div class="progress-bar-container">
        <div class="progress-bar-fill"
          [style.width.%]="((settings.questions.indexOf(question) + 1) / settings.questions.length) * 100">
        </div>
      </div>
    </div>
    <div class="timer" *ngIf="timeLeft !== null">
      ⏱ {{ timeLeft }}s
    </div>
  </div>

  <app-timer [duration]="timerDuration" (tick)="onTick($event)" (finished)="onTimerEnd()"></app-timer>

  <ng-container [ngSwitch]="question.type">
    <app-question-multiple *ngSwitchCase="'multiple'" [question]="question"
      (answer)="onAnswer($event)"></app-question-multiple>
    <app-question-boolean *ngSwitchCase="'boolean'" [question]="question"
      (answer)="onAnswer($event)"></app-question-boolean>
    <p *ngSwitchDefault class="unknown-type">
      Tipo de pregunta no reconocido: {{ question.type }}
    </p>
  </ng-container>

  <div class="results-summary">
    <p>Correctas: {{ settings.correctCount }}</p>
  </div>
</ng-container>